@model Quadrant

<div class="container">
    <div class="row bordered-row-top">
        <div class="col-12 text-center bordered-col-left bordered-col-right"><h2 class=text-center>Stephen Covey's Time Management Matrix</h2></div>
    </div>
    <div class="row bordered-row-top">
        <div class="col-2 text-center bordered-col-left"></div>
        <div class="col-5 text-center bordered-col-left"><b>Urgent</b></div>
        <div class="col-5 text-center bordered-col-left bordered-col-right"><b>Not Urgent</b></div>
    </div>

    <div class="row bordered-row-top">
        <div class="col-2 text-center bordered-col-left"><b>Important</b></div>
        <div class="col-5 text-center bordered-col-left">
            Quadrant 1

@*             @foreach (var task in Model.Quadrant1Tasks)
            {
                <div>@task.TaskName</div>
            } *@
        </div>
        <div class="col-5 text-center bordered-col-left bordered-col-right">
            Quadrant 2

@*             @foreach (var task in Model.Quadrant2Tasks)
            {
                <div>@task.TaskName</div>
            } *@
        </div>
    </div>

    <div class="row bordered-row-top bordered-row-bottom">
        <div class="col-2 text-center bordered-col-left"><b>Not Important</b></div>
        <div class="col-5 text-center bordered-col-left">
            Quadrant 3
            
@*             @foreach (var task in Model.Quadrant3Tasks)
            {
                <div>@task.TaskName</div>
            } *@
        </div>
        <div class="col-5 text-center bordered-col-left bordered-col-right">
             Quadrant 4

            @*@foreach (var task in Model.Quadrant4Tasks)
            {
                <div>@task.TaskName</div>
            } *@
        </div>
    </div>
</div>

@* <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskID">Update</a></td>
<a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskID">Delete</a></td> *@