@model List<Mission08_Team0115.Models.Quadrant>

<div class="container">
    <div class="row bordered-row-top">
        <div class="col-12 text-center bordered-col-left bordered-col-right"><h2 class=text-center>Stephen Covey's Time Management Matrix</h2></div>
    </div>
    <div class="row bordered-row-top">
        <div class="col-2 text-center bordered-col-left"></div>
        <div class="col-5 text-center bordered-col-left"><b>Urgent</b></div>
        <div class="col-5 text-center bordered-col-left bordered-col-right"><b>Not Urgent</b></div>
    </div>

    <div class="row bordered-row-top">
        <div class="col-2 text-center bordered-col-left"><b>Important</b></div>
        <div class="col-5 text-center bordered-col-left">
            Quadrant 1

            <table>
                <tbody>
                    @foreach (var x in Model.Where(x => x.Quadrant1 == 1).Where(x => x.Completed == false))
                    {
                        <tr>
                            <td>@x.Task</td>
                            <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.Key">Update</a></td>
                            <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.Key">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-5 text-center bordered-col-left bordered-col-right">
            Quadrant 2

            <table>
                <tbody>
                    @foreach (var x in Model.Where(x => x.Quadrant1 == 2).Where(x => x.Completed==false))
                    {
                        <tr>
                            <td>@x.Task</td>
                            <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.Key">Update</a></td>
                            <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.Key">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row bordered-row-top bordered-row-bottom">
        <div class="col-2 text-center bordered-col-left"><b>Not Important</b></div>
        <div class="col-5 text-center bordered-col-left">
            Quadrant 3
            <table>
                <tbody>
                    @foreach (var x in Model.Where(x => x.Quadrant1 == 3).Where(x => x.Completed == false))
                    {
                        <tr>
                            <td>@x.Task</td>
                            <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.Key">Update</a></td>
                            <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.Key">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-5 text-center bordered-col-left bordered-col-right">
             Quadrant 4
            <table>
                <tbody>
                    @foreach (var x in Model.Where(x => x.Quadrant1 == 4).Where(x => x.Completed == false))
                    {
                        <tr>
                            <td>@x.Task</td>
                            <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.Key">Update</a></td>
                            <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.Key">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>